<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeju_campking.campking.board.repository.BoardMapper">

    <insert id="write">
        INSERT INTO TB_BOARD
        (board_title, board_content, member_number)
        VALUES (#{boardTitle}, #{boardContent}, #{memberNumber});
    </insert>

    <delete id="delete">
        DELETE FROM TB_BOARD
        WHERE BOARD_NUMBER = #{boardNumber};
    </delete>

    <update id="modify">
        UPDATE TB_BOARD
        SET
        board_title = #{boardTitle},
        board_content = #{boardContent}
        WHERE board_number = #{boardNumber};
    </update>

</mapper>