<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeju_campking.campking.member.repository.MemberMapper">

    <select id="login" resultType="member">
        SELECT
            *
        FROM TB_MEMBER
        WHERE member_email = #{memberEmail}
        AND member_password = #{memberPassword}
    </select>

    <insert id="sign">
        INSERT INTO TB_MEMBER
        (member_email, member_password, member_name, member_nickname,
         member_phone, member_age, member_gender)
        VALUES (#{memberEmail}, #{memberPassword}, #{memberName}, #{memberNickname},
        #{memberPhone}, #{memberAge}, #{memberGender})
    </insert>

    <select id="isDuplicate" resultType="int">
        SELECT COUNT(*)
        FROM TB_MEMBER
        <if test="type == 'email'">
            WHERE member_email = #{keyword}
        </if>
        <if test="type == 'nickname'">
            WHERE member_nickname = #{keyword}
        </if>
        <if test="type == 'phone'">
            WHERE member_phone = #{keyword}
        </if>
    </select>

    <select id="findMember" resultType="member">
        SELECT *
        FROM TB_MEMBER
        WHERE member_email = #{memberEmail}
    </select>

</mapper>