body {
    /* background: #1f2937; */
    background: url('../img/sm_background.jpg') no-repeat center / cover fixed;
    height: 100vh;

}

.wrapper {
    margin: 0 auto;
}

.wrap header {
    padding-top: 15px;
    height: 140px;
    /* border: 4px solid red; */
    background-color: rgba(0, 0, 0, 0.4);


}


.inner-header {
    color: #fff;
    width: 75%;
    margin: 0 auto;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.inner-header .logo a {
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
}

.inner-header .logo a p {
    margin: 0;
}

.inner-header .logo a p:first-child {
    color: #02813c;
    font-size: 40px;
}

.inner-header .logo a p:last-child {
    font-size: 28px;
}

.inner-header .logo a p:last-child span {
    font-weight: bold;
    font-size: 32px;
    color: #ff6600;


}






.inner-header .gnb {
    display: flex;
    justify-content: flex-start;
    font-size: 30px;
    position: relative;
    left: -150px;

}

.inner-header .gnb li {
    display: inline-block;
    margin: 0 10px;
    padding: 20px;
    /* border: 1px solid #fff; */
    font-size: 22px;
}

.inner-header .tnb {
    display: flex;
    /* border: 1px solid red; */
    justify-content: flex-end;
    align-items: center;
}

.inner-header .tnb li:first-child {
    font-size: 20px;
    height: 80px;
    line-height: 80px;
}

.inner-header .tnb li:nth-child(3) {
    margin-top: 15px;
    width: 60px;
    height: 60px;
}

.inner-header .tnb li {
    display: inline-block;
    margin-right: 10px;
    /* background: lime; */
}

.inner-header .tnb li:nth-child(4) {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
}















/* section.main style */
section.main {
    width: 80%;
    margin: 0 auto;
    margin-top: 70px;
    position: relative;
    /* border: 4px solid red; */
}



section.main .container {}


section.main .search-container {
    height: 63px;
    /* background-color: #999; */
    display: flex;
    justify-content: center;

}

section.main .container .slideshow {
    margin-top: 20px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 70px;
    color: #cac7c7;
}


section.main .search-container .search {
    border-radius: 10px;
    width: 500px;

    display: flex;
    justify-content: center;
    align-items: center;
}

section.main .search-container .searchBtn {
    font-size: 1.5em;
}



section.main .hashtag {
    /* border: 1px solid #000; */
    padding: 20px;
    height: 100px;
    width: fit-content;
    margin: 0 auto;
    color: #cac7c7;
    font-weight: 700;
    
}

section.main .hashtag li {
    display: none;

}





/* radial */

section.main .radial-container {
    width: 1000px;
    margin: 0 auto;
    /* background: green; */
    display: flex;
    justify-content: space-evenly;
    color: #cac7c7;
    font-weight: 700;
}


section.main .radial-container {
    text-align: center;
}


section.main .radial-container .r1 {
    color: #525251;
}

section.main .radial-container .r2 {
    color: #f1550c;
}

section.main .radial-container .r3 {
    color: #11ca0a;
}

section.main .radial-container .r4 {
    color: #1497ee;
}

section.main .radial-container .r5 {
    color: #bf17e9;
}

section.main .radial-container p {
    margin-top: 10px;
    letter-spacing: 2px;
}














/* 뉴컨테이너 */
section.main .new-container {
    margin: 0 auto;
    padding-top: 400px;
    margin-bottom: 100px;

}

section.main .new-container h1 {
    font-weight: 700;
    font-size: 1.5em;
    padding: 25px 45px;
}

section.main .new-container h1 span {
    color: #ff6600;
    font-size: 1.2em;

}

section.main .new-container ul {
    display: flex;
    justify-content: space-evenly;

}

section.main .new-container li {
    /* border: 1px solid #000; */
    width: 250px;
    height: 150px;

}

section.main .new-container li:hover {
    border: 4px solid #fff;
    cursor: pointer;
}


/*슬라이드쇼*/
section.main .new-container ul#slideshow {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


section.main .new-container ul#slideshow li:first-child {
    display: block;
}







section.camp-type-wrapper {

    background: gray;
}

section.camp-type {
    width: 80%;
    margin: 0 auto;

}

section.camp-type h1 {
    font-weight: 700;
    font-size: 1.5em;
    padding: 25px 45px;
}



section.camp-type .sub-container {
    /* background: orange; */
    margin-top: 30px;
    /* border-bottom: 1px solid #ddd; */
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.camp-type .sub-container li {
    /* border: 1px solid #000; */
    float: left;
    height: 280px;
    width: 23%;
}

section.camp-type .sub-container li .img-box {
    /* background: red; */
    overflow: hidden;
    margin: 10px;
}

section.camp-type .sub-container li .img-box img {
    width: 100%;
    height: 200px;
    transition: 0.6s;

}

section.camp-type .sub-container li a:hover .img-box img {
    transform: scale(1.2);
}

section.camp-type ul li a .text {
    text-align: center;
    padding: 10px;
    font-weight: 700;
}






section.board-wrapper {
    margin-top: 100px;
}

section.board {
    width: 80%;
    margin: 0 auto;
    display: flex;
    /* justify-content: space-around; */
    /* justify-content: center; */
}

section.board .sub-board {
    padding: 20px 50px;
    border-radius: 3%;

}

section.board p {
    font-size: 4em;
}

section.board h2 {
    margin-top: 10px;
    font-weight: 700;
    font-size: 1.2em;


}



section.board .sub-board {
    width: 70%;
    height: 700px;
    background: #F1F3F9;
    border: 1px solid #000;
    margin: 10px;
}