<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!--   자동 카멜케이스 스네이크 케이스 변환 설정     -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <!--  entity 클래스 별칭 설정      -->
        <typeAlias alias="board" type="com.jeju_campking.campking.board.entity.Board"/>
        <typeAlias alias="member" type="com.jeju_campking.campking.member.entity.Member"/>
        <typeAlias alias="reply" type="com.jeju_campking.campking.board.entity.Reply"/>
        <typeAlias alias="camp" type="com.jeju_campking.campking.camp.entity.Camp"/>
        <typeAlias alias="partyDTO" type="com.jeju_campking.campking.party.dto.response.PartyAllListResponseDTO"/>
        <typeAlias alias="partyReply" type="com.jeju_campking.campking.party.entity.PartyReply"/>
        <typeAlias alias="partyMessage" type="com.jeju_campking.campking.party.entity.PartyMessage"/>
        <typeAlias alias="mypageMemberDTO" type="com.jeju_campking.campking.mypage.dto.response.MypageMemberResponseDTO"/>
        <typeAlias alias="party" type="com.jeju_campking.campking.party.entity.Party"/>
        <typeAlias alias="partyPartyMessageDTO" type="com.jeju_campking.campking.mypage.dto.response.MypagePartyMessageResponseDTO"/>
        <typeAlias alias="campRank" type="com.jeju_campking.campking.rank.dto.response.CampRankResponseDTO"/>
        <typeAlias alias="partyRank" type="com.jeju_campking.campking.rank.dto.response.PartyListResponseDTO"/>

        <typeAlias alias="boardDetailDTO" type="com.jeju_campking.campking.board.dto.response.BoardDetailResponseDTO"/>
        <typeAlias alias="replyDTO" type="com.jeju_campking.campking.board.dto.response.ReplyResponseDTO"/>
    </typeAliases>

    <mappers>
        <!-- Mapper XML files -->
        <mapper resource="mappers/BoardMapper.xml"/>
        <mapper resource="mappers/MemberMapper.xml"/>
        <mapper resource="mappers/ReplyMapper.xml"/>
        <mapper resource="mappers/CampMapper.xml"/>
        <mapper resource="mappers/PartyMapper.xml"/>
        <mapper resource="mappers/PartyReplyMapper.xml"/>
        <mapper resource="mappers/PartyMessageMapper.xml"/>
        <mapper resource="mappers/MypageMapper.xml"/>
        <mapper resource="mappers/RankMapper.xml"/>
        <mapper resource="mappers/MypageUpdateMapper.xml"/>
    </mappers>

</configuration>